
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* 🌞 Light Mode */
@theme {
  --color-primary: #EE4B21;
  --color-secondary: #07B4B0;
  --color-light: #CDF0EF;
  --color-base: #4F4F4F;
}

/* 🌙 Dark Mode */
.dark {
  --color-primary: #6366f1;
  --color-secondary: #4ade80;
  --color-light: #111827;
  --text-primary: #e5e7eb;
  --text-inverse: #000000;
}

* {
  font-family: "Roboto", sans-serif;
}