
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* 🌞 Light Mode */
@theme {
  --color-primary: #EE4B21;
  --color-secondary: #07B4B0;
  --color-light: #CDF0EF;
  --color-base: #758082;
}


* {
  font-family: "Roboto", sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
